
<div class="intro-header">
    <div class="top-bar">
        <a href="http://www.realitystarts.com"><img src="../img/realitylogo.png" class="img-responsive center-block"></a>
    </div>
    <div class="container three-features" id="sections-features">
        <div class="row features">
            <div class="col-xs-12 col-sm-4">
                <img src="../img/virtualreality.png" class="image-responsive center-block" alt="Virtual Reality" style="text-align: center; width:75%;height:75%">
            </div>
            <div class="col-xs-12 col-sm-4">
                <img src="../img/augmentedreality.png" class="image-responsive center-block" alt="Mixed Reality" style="text-align: center; width:98%;height:98%; padding-top: 8px">

            </div>

            <div class="col-xs-12 col-sm-4">
                <img src="../img/mixedreality.png" class="image-responsive center-block" alt="Augmented Reality" style="text-align: center;width:60%;height:60%">
            </div>
        </div>
    </div>
</div>
<div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="intro-text">
                  <p>
                      REALITY is the East Coast hub for Virtual, Augmented, and Mixed Reality startups.
                  </p>

                     <p class="success-text" style="display: none;">
                      Thanks, we'll keep you updated about REALITY.
                  </p>
              </div>
          </div>
      </div>

      <div class="form-group">
          <ul class="list-inline intro-social-buttons">

                  <form id="target">
                      <input type="email" required class="form-control email-field" placeholder="Enter your Email Address" id="email" style="display: inline;"> 

                      <input id="submit-button" type="submit" class="btn btn-primary btn-lg btn-block" value="Keep me updated" style="display: inline;">
                  </form>
          </ul>
      </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small">
                    Copyright © REALITY 2015. All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>