<!doctype html>
<html>
  <head>
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landingpage.css" rel="stylesheet">

    <!-- Load Global and Custom CSS HERE -->
    <%= styles %>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>  
  </head>

  <!-- Body of Application -->
  <body>
    <!-- Yield to your ERB templates. -->
    <%= yield %>

    <!-- Load Global and Custom JavaScript HERE -->
    <%= javascripts %>
  </body>
</html>
