body,
html {
    width: 100%;
    height: 100%;
}

/*Using Raleway font*/
body,
p{
    font-family: "Raleway",sans-serif;
    font-weight: 500;
    font-size: 30px;

}
h1,
h2,
h4,
h5,
h6 {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
}

h1{
    font-family: "Raleway",sans-serif;
    font-weight: 500;
    padding-bottom: 20px;

}


.intro-header{

        padding-top: 50px;

}

.container.three-features {

  padding-top: 50px;
}

.intro-text {

  padding-top: 50px;
  text-align: center;
  padding-bottom: 15px;

}

.btn.btn-primary.btn-lg.btn-block{
  padding-top: 5px;
  width: 200px;
  background-color: #1d3a59;
  vertical-align: middle;


}

.form-control.email-field{
  width: 200px;
  height: 40px;

}

.form-group{
    padding-left: 50px;
    width: 48%;
    margin: 0 auto;

}

.copyright.text-muted.small{
  padding-top: 50px;
  font-size: 14px;
  text-align: center;
}

.success-text {
  text-align: center
}


textarea:focus, input:focus, .uneditable-input:focus {   
    border-color: rgba(230, 107, 0, 0.8) !important;
    box-shadow: 0 1px 1px rgba(230, 107, 0, 0.075) inset, 0 0 8px rgba(230, 107, 0, 0.6) !important;
    outline: 0 none !important;
}

/* CSS for Mobile optimization */
@media(max-width:768px) {

    p {
      font-size: 20px;
    }

    .row.features {
      padding-bottom: 10px;
      width: 70%;
      height: 70%;
      margin: 0 auto;
    }


    .form-group{
      padding-left: 0px

    }

}

@media(max-width:767px) {

}

@media(max-width:1199px) {

}
